@font-face {
  src: url(fa-solid-900.ttf);
  font-family: fa;
}
* {
  font-family: fa;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(16, 251, 32);
}

/* set biểu thức */

#math {
  padding: 30px 0 0 0;
  position: relative;
  margin: 100px auto;
  width: 590px;
  border: 1px solid black;
  text-align: center;
  height: 300px;
  background: rgb(229, 211, 105);
  border-radius: 20px;
}

/* set điểm và thời gian */
#time,
#score {
  margin: 0;
}
#out {
  margin-top: 23px;
}
#time,
#score {
  font-size: 20px;
  top: 10px;
  right: 10px;
  padding: 5px;
  position: absolute;
  width: 100px;
  border: 1px solid black;
  border-radius: 9px;
  background-color: aqua;
}
#score {
  left: 10px;
}

/* set các đáp án */

#butVar {
  margin-top: 30px;
}
.var {
  background-color: rgb(253, 253, 253);
  animation: True 0.5s ease infinite;
  font-size: 20px;
  height: 70px;
  width: 120px;
  border-radius: 9px;
}
.var:hover {
  cursor: pointer;
  background-color: rgb(232, 243, 21);
}
.var:first-child {
  margin-right: 10%;
}
.var:last-child {
  margin-left: 10%;
}

.true {
  background-color: green;
}
.false {
  background-color: red;
}

/* set vị trí biểu thức */

#out {
  border-radius: 10px;
  background-color: rgb(255, 228, 228);
  padding: 0px 0;
  border: 1px solid black;
}

/* set thông báo game over */
#show-task,
#continue {
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  visibility: visible;
  height: 100%;
  width: 100%;
  background: rgba(74, 73, 73, 0.8);
  animation: show 0.5s ease;
  transition: all 0.5s;
}
#end-task,
#pause {
  display: none;
  animation: Hide 0.5s ease;

  visibility: hidden;
}
#box,
#box2 {
  background: rgb(50, 38, 38);
  padding: 30px 0;
  height: 200px;
  width: 450px;
  margin: 100px auto;
  text-align: center;
  border-radius: 20px;
}
#box > h2,
#box2 > h2 {
  margin-top: 20px;
}
#box > p,
#box2 > p {
  margin-top: 10px;
}
#box > button,
#box2 > button {
  margin-top: 20px;
  padding: 9px;
  border-radius: 10px;
  width: 90px;
}
#box > button:hover,
#box2 > button:hover {
  background-color: rgb(97, 68, 68);
  color: white;
  cursor: pointer;
}
#box > button:active,
#box2 > button:active {
  background: rgb(88, 164, 88);
}

/* pause */
#BtnPause {
  position: fixed;
  background: white;
  top: 10px;
  left: 10px;
  height: 40px;
  width: 70px;
  border-radius: 5px;
  border: 1px solid black;
  transition: all 0.5s;
}
#BtnPause:hover {
  background-color: rgb(232, 243, 21);
}

/* điêm cao */
#borderhight {
  position: absolute;
  top: 0;
  width: 100%;
}
#hightScore {
  border: 1px solid black;
  background-color: rgb(250, 192, 192);
  width: 230px;
  top: 0px;
  height: 30px;
  line-height: 30px;
  margin: 9px auto;
  border-radius: 10px;
}

@keyframes show {
  0% {
    top: -900px;
    opacity: 0;
  }
  80% {
    top: 20px;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@media screen and (max-width: 721px) {
  #math,
  #box,
  #box2,
  #out {
    width: 100%;
    height: auto;
  }
  #time,
  #score {
    font-size: 14px;
    width: 90px;
  }
  #butVar {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .var {
    width: 90px;
  }
  .var:hover {
    background-color: rgb(253, 253, 253);
    color: black;
  }
  .var:active {
    background-color: greenyellow;
  }
  #BtnPause:hover {
    background-color: white;
  }
  #hightScore {
    width: 150px;
    font-size: 14px;
  }
}
@media screen and (max-width: 721px) {
  #out {
    height: auto;
    width: 100%;
  }
}
